In [1]:
'''Дан файл HR.csv с данными по опросу уровня удовлетворенности сотрудниками работой.
Признаки:
    1.satisfaction_level  - Уровень удовлетворенности работой
    2.Last_evaluation  - Время с момента последней оценки в годах
    3.number_projects  - Количество проектов, выполненных за время работы
    4.average_monthly_hours  - Среднее количество часов на рабочем месте в месяц
    5.time_spend_company  - Стаж работы в компании в годах
    6.work_accident  - Происходили ли несчастные случаи на рабочем месте с сотрудником
    7.left  - уволился ли сотрудник
    8.promotion_last_5years  - повышался ли сотрудник за последние пять лет
    9.department  - отдел в котором работает сотрудник
    10.salary  - относительный уровень зарплаты'''

'Дан файл HR.csv с данными по опросу уровня удовлетворенности сотрудниками работой.\nПризнаки:\n    1.satisfaction_level  - Уровень удовлетворенности работой\n    2.Last_evaluation  - Время с момента последней оценки в годах\n    3.number_projects  - Количество проектов, выполненных за время работы\n    4.average_monthly_hours  - Среднее количество часов на рабочем месте в месяц\n    5.time_spend_company  - Стаж работы в компании в годах\n    6.work_accident  - Происходили ли несчастные случаи на рабочем месте с сотрудником\n    7.left  - уволился ли сотрудник\n    8.promotion_last_5years  - повышался ли сотрудник за последние пять лет\n    9.department  - отдел в котором работает сотрудник\n    10.salary  - относительный уровень зарплаты'

In [2]:
import numpy as np
np.set_printoptions(precision=4)
import pandas as pd
from pandas import ExcelWriter

data_HR = pd.read_csv('HR.csv',#загружаем данные из файла
                       sep=',', encoding='utf-8'
                       )
data_HR.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
data_ = data_HR.copy()
data_.drop(['left','department','salary'], axis=1, inplace=True)#удаляем ненужные стлобцы
data = data_.to_numpy()#преобразуем в массив numpy
data.shape

(14999, 7)

In [4]:
data_class_arr = data_HR.left
data_class = data_class_arr.to_numpy()
data_class

array([1, 1, 1, ..., 1, 1, 1])

In [5]:
# разделяем выборку на тренировочную и тестовую
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, data_class, test_size=0.25)

In [6]:
# импортируем LDA-функционал
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [7]:
lda = LinearDiscriminantAnalysis()

In [8]:
# обучаем данные
lda.fit(X_train, y_train)

LinearDiscriminantAnalysis(n_components=None, priors=None, shrinkage=None,
              solver='svd', store_covariance=False, tol=0.0001)

In [9]:
# делаем прогноз на тестовой выборке
lda.predict(X_test)

array([0, 0, 0, ..., 1, 0, 1])

In [10]:
# смотрим разницу факта и прогноза
result = pd.DataFrame([y_test, lda.predict(X_test)]).T
result

      0  1
0     0  0
1     1  0
2     0  0
3     0  0
4     1  0
5     0  0
6     0  0
7     0  0
8     0  1
9     1  0
10    0  0
11    0  0
12    0  0
13    0  0
14    1  1
15    0  0
16    0  1
17    1  1
18    0  0
19    0  1
20    0  0
21    0  0
22    0  0
23    0  0
24    1  0
25    0  1
26    0  0
27    0  0
28    0  0
29    1  0
...  .. ..
3720  0  0
3721  0  0
3722  0  0
3723  1  0
3724  0  0
3725  1  0
3726  0  0
3727  0  0
3728  0  0
3729  1  0
3730  1  1
3731  0  0
3732  0  0
3733  0  0
3734  0  0
3735  0  0
3736  0  0
3737  0  0
3738  0  0
3739  0  0
3740  0  0
3741  0  0
3742  0  0
3743  0  0
3744  0  1
3745  0  0
3746  1  1
3747  1  1
3748  0  0
3749  0  1

[3750 rows x 2 columns]

In [11]:
# расчет точности - отношение верных прогнозов к общему количеству позиций
# является хорошей метрикой для сбалансированных классов 
# (наблюдений в категориях примерно одинаковое количество)

from sklearn.metrics import accuracy_score

In [12]:
accuracy_score(y_test, lda.predict(X_test))

0.7690666666666667